@import "../../styles/core-screen.styles.scss";

.custom-node {
    cursor: pointer;
    line-height: 26px;
    margin-left: 4px;
    display: inline-block;
}

nz-select {
    width: 50%;
    margin-left: 10px;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}
