<nz-layout>
    <!-- Screen Header with action controls - New, Save, Reset -->
    <nz-header class="admin-screen-header">
        <div nz-row nzType="flex">
            <div nz-col nzSpan="12">
                <nz-select
                    (ngModelChange)="selectCurrentScreen($event)"
                    [(ngModel)]="screen"
                    nzAllowClear
                    nzPlaceHolder="Screens"
                >
                    <nz-option
                        *ngFor="let screen of screenListItemTuples"
                        [nzLabel]="screen.name"
                        [nzValue]="screen"
                    ></nz-option>
                </nz-select>
            </div>
            <div nz-col nzSpan="6"><b>Detail Screens</b></div>
            <div nz-col nzSpan="6">
                <button (click)="createScreen()" nz-button nzType="primary">
                    New
                </button>
                <button (click)="saveScreen()" nz-button nzType="primary">
                    Save
                </button>
                <button (click)="resetScreen()" nz-button nzType="default">
                    Reset
                </button>
            </div>
        </div>
    </nz-header>
    <nz-content>
        <div class="admin-screen-main">
            <div nz-row nzType="flex">
                <div nz-col nzSpan="6">
                    <!-- Tree implementation -->
                    <div class="admin-screen-col">
                        <nz-tree [(nzData)]="rootNodes" nzBlockNode nzDraggable>
                            <ng-template #nzTreeTemplate let-node>
                                <span
                                    (click)="selectNode(node)"
                                    [class.active]="
                                        node.origin.key ===
                                        (selectedNode$ | async)?.origin.key
                                    "
                                    aria-grabbed="true"
                                    class="custom-node"
                                    draggable="true"
                                >
                                    <span
                                        [class.shine-animate]="
                                            node.origin.isLoading
                                        "
                                    >
                                        <span class="folder-name">{{
                                            node.origin.title
                                        }}</span>
                                    </span>
                                </span>
                            </ng-template>
                        </nz-tree>
                    </div>
                </div>
                <div nz-col nzSpan="12">
                    <!-- Dynamic Preview Panel -->
                    <div class="admin-screen-col">
                        <admin-screen-preview-component
                            [screenTupleByKey]="previewScreenTupleKey"
                        >
                        </admin-screen-preview-component>
                    </div>
                </div>
                <div nz-col nzSpan="6">
                    <!-- Widget screen component  -->
                    <admin-screen-widget-component
                        (selectedNode)="selectedNode = $event"
                        *ngIf="selectedNode$ | async"
                        [selectedNode]="selectedNode$ | async"
                    >
                    </admin-screen-widget-component>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>

<!-- Create New Screen Modal -->
<ng-container *ngIf="createNewScreen">
    <nz-modal
        (nzOnCancel)="handleCancelCreateScreen()"
        (nzOnOk)="handleOkCreateScreen()"
        [(nzVisible)]="createNewScreen"
        nzTitle="New Screen"
    >
        <input
            [(ngModel)]="selectedScreenTuple.key"
            nz-input
            placeholder="Enter screen key"
        />
        <input
            [(ngModel)]="selectedScreenTuple.name"
            nz-input
            placeholder="Enter screen name"
        />
    </nz-modal>
</ng-container>
