<ng-container *ngIf="(style$ | async) || {} as style">
    <ng-container *ngIf="isHorizontal()">
        <div
            [style.background]="style?.backgroundColor"
            [style.borderStyle]="style?.borderStyle"
            [style.fontFamily]="style?.fontFamily"
            [style.fontSize]="style?.fontSize"
            [style.margin]="style?.margin"
            [style.padding]="style?.padding"
            nz-row
        >
            <ng-container #horizontalContainerChildren></ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="(widgetTuple$ | async) || {} as widgetTuple">
        <ng-container *ngIf="isVertical()">
            <div
                [nzLg]="widgetTuple?.getLg"
                [nzMd]="widgetTuple?.getMd"
                [nzSm]="widgetTuple?.getSm"
                [nzXXl]="widgetTuple?.getXXl"
                [nzXl]="widgetTuple?.getXl"
                [nzXs]="widgetTuple?.getXs"
                [style.background]="style?.getBackgroundColor"
                [style.borderStyle]="style?.borderStyle"
                [style.fontFamily]="style?.fontFamily"
                [style.fontSize]="style?.getFontSize"
                [style.margin]="style?.margin"
                [style.padding]="style?.padding"
                nz-col
            >
                <ng-container #verticalContainerChildren></ng-container>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
