<div class="admin-screen-col control-padding-15">
    <!-- Style Header with action controls - New, Save and Delete -->
    <nz-header class="admin-screen-header">
        <div nz-row nzType="flex">
            <div
                *ngIf="selectedStyleClass"
                nz-col
                nzJustify="center"
                nzSpan="8"
            >
                <button (click)="newStyle()" nz-button nzType="default">
                    New
                </button>
            </div>
            <div *ngIf="selectedStyleTuple" nz-col nzSpan="8">
                <button (click)="saveStyle()" nz-button nzType="primary">
                    Save
                </button>
            </div>
            <div *ngIf="selectedStyleTuple" nz-col nzSpan="8">
                <button
                    (click)="deleteStyle()"
                    [disabled]="!selectedStyleTuple.id"
                    nz-button
                    nzType="danger"
                >
                    Delete
                </button>
            </div>
        </div>
    </nz-header>
    <nz-content>
        <!-- Style Tuple Properties -->
        <div
            *ngIf="
                selectedStyleClass != null &&
                selectedStyleTuple != null &&
                styleTuple != null
            "
            nz-row
            nzType="flex"
        >
            <nz-form-item class="max-width">
                <nz-form-label>Key</nz-form-label>
                <input
                    [(ngModel)]="selectedStyleTuple.key"
                    name="key"
                    nz-input
                />
            </nz-form-item>
            <nz-form-item class="max-width">
                <nz-form-label>Name</nz-form-label>
                <input
                    [(ngModel)]="selectedStyleTuple.name"
                    name="name"
                    nz-input
                />
            </nz-form-item>

            <!-- Fetch the properties from admin-style-detail.model.ts
            and bind to StyleTuple -->
            <ng-container
                *ngFor="let attribute of styleConfigs[selectedStyleClass]"
            >
                <nz-form-item *ngIf="isTextbox(attribute)" class="max-width">
                    <nz-form-label>{{ attribute.label }}</nz-form-label>
                    <input
                        [(ngModel)]="styleTuple[attribute.name]"
                        name="{{ attribute.name }}"
                        nz-input
                    />
                </nz-form-item>

                <nz-form-item *ngIf="isNumberbox(attribute)" class="max-width">
                    <nz-form-label>{{ attribute.label }}</nz-form-label>
                    <nz-input-number
                        [(ngModel)]="styleTuple[attribute.name]"
                        class="max-width"
                        name="{{ attribute.name }}"
                    >
                    </nz-input-number>
                </nz-form-item>

                <nz-form-item *ngIf="isDropdown(attribute)" class="max-width">
                    <nz-form-label>{{ attribute.label }}</nz-form-label>
                    <nz-select [(ngModel)]="styleTuple[attribute.name]">
                        <nz-option
                            *ngIf="attribute.isOptional"
                            nzLabel="----"
                            nzValue=""
                        ></nz-option>
                        <nz-option
                            *ngFor="let o of getEnumValues(attribute.values)"
                            [nzLabel]="attribute.values[o]"
                            [nzValue]="o"
                        ></nz-option>
                    </nz-select>
                </nz-form-item>

                <nz-form-item *ngIf="isCheckbox(attribute)" class="max-width">
                    <label [(ngModel)]="styleTuple[attribute.name]" nz-checkbox>
                        {{ attribute.label }}
                    </label>
                </nz-form-item>

                <nz-form-item *ngIf="isColor(attribute)" class="max-width">
                    <nz-form-label>{{ attribute.label }}</nz-form-label>
                    <input
                        [(ngModel)]="styleTuple[attribute.name]"
                        name="{{ attribute.name }}"
                        nz-input
                        type="color"
                    />
                </nz-form-item>
            </ng-container>
        </div>
    </nz-content>
</div>
