<nz-layout>
    <nz-content>
        <div class="admin-screen-main">
            <div nz-row>
                <!-- List Style Items -->
                <div nz-col nzSpan="6">
                    <div class="admin-screen-col">
                        <nz-list
                            #ListStyles
                            [nzDataSource]="styleTypes | keyvalue"
                            [nzRenderItem]="styleList"
                            nzBordered
                        >
                            <ng-template #styleList let-item>
                                <nz-list-item
                                    (click)="selectStyleType(item.key)"
                                    [ngClass]="
                                        item.key == selectedStyleClass
                                            ? 'active'
                                            : 'none'
                                    "
                                >
                                    {{ item.value.label }}
                                </nz-list-item>
                            </ng-template>
                        </nz-list>
                    </div>
                </div>

                <!-- Create/Edit/Display Style Tuples Properties -->
                <div nz-col nzSpan="6">
                    <div class="admin-screen-col">
                        <nz-list
                            #ListTuples
                            [nzDataSource]="styleListItemTuples"
                            [nzRenderItem]="styleTuples"
                            nzBordered
                        >
                            <ng-template #styleTuples let-item>
                                <nz-list-item
                                    (click)="selectStyleTuple(item)"
                                    [ngClass]="
                                        item == selectedStyleTuple
                                            ? 'active'
                                            : 'none'
                                    "
                                >
                                    {{ item.name }}
                                </nz-list-item>
                            </ng-template>
                        </nz-list>
                    </div>
                </div>
                <div nz-col nzSpan="12">
                    <admin-style-detail-component
                        [selectedStyleClass]="selectedStyleClass"
                        [selectedStyleTuple]="selectedStyleTuple"
                    >
                    </admin-style-detail-component>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>
