<div nz-row>
    <div nz-col>
        {{ widgetTuple.label }}
    </div>
    <div
        [style.fontStyle]="style?.getItalic"
        [style.fontWeight]="style?.getBold"
        [style.textDecoration]="style?.getUnderline"
        nz-col
    >
        {{ interpolate.getVal(widgetTuple.bindText, data) }}
    </div>
</div>
