<!-- Header for preview component -->
<div class="header">
    <div>Preview</div>
</div>
<!--<nz-divider class="preview-divider" *ngIf="screenTupleByKey"></nz-divider>-->
<!-- Preview component: This is the component that will be used in other components too-->
<nz-content class="preview-area">
    <core-dynamic-screen
        [screenTupleByKey]="screenTupleByKey"
    ></core-dynamic-screen>
</nz-content>
