@import "../../styles/core-screen.styles.scss";

:host {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 56px;
    }
}

.preview-area {
    border: 1px dashed black;
}

.preview-divider {
    margin: 10px 0;
}
