.admin-screen-header {
    background: transparent;
    padding: 0px;
}

.admin-screen-col {
    margin: 1px;
    min-height: 700px;
    max-height: 700px;
    overflow: auto;
    border: 2px black solid;
}

//.active {
//    background: #000000;
//    color: #fff;
//}

.max-width {
    width: 100%;
}
