<div class="admin-screen-col" nz-row>
    <div nz-col nzSpan="24">
        <!-- Widget Screen Component Actions - Create New or Delete Widget -->
        <div [nzGutter]="2" nz-row>
            <div nz-col nzSpan="12">
                <button
                    (click)="removeNode()"
                    [disabled]="selectedNode?.parentNode == null"
                    nz-button
                    nzBlock
                    nzType="danger"
                >
                    Delete Widget
                </button>
            </div>
            <div nz-col nzSpan="12">
                <button
                    (click)="showAddChild()"
                    [disabled]="!selectedNode || selectedNode.isLeaf"
                    nz-button
                    nzBlock
                    nzType="primary"
                >
                    New Child
                </button>
            </div>
        </div>
        <!-- Widget Properties -->
        <ng-container
            *ngIf="selectedNode?.parentNode"
            [ngSwitch]="getNodeType()"
        >
            <nz-form-item>
                <nz-form-label>Widget Type</nz-form-label>
                <input
                    [(ngModel)]="tupleModel.widgets[getNodeType()].label"
                    [disabled]="true"
                    class="max-width"
                    nz-input
                />
            </nz-form-item>
            <!-- Loop through Widget Properties that are defined in widgetConfigs -->
            <ng-container *ngFor="let widget of widgetConfigs[getNodeType()]">
                <nz-form-item *ngIf="isTextbox(widget)">
                    <nz-form-label>{{ widget.label }}</nz-form-label>
                    <input
                        [(ngModel)]="selectedNode.origin[widget.name]"
                        class="max-width"
                        name="{{ widget.name }}"
                        nz-input
                    />
                </nz-form-item>
                <nz-form-item *ngIf="isNumberbox(widget)">
                    <nz-form-label>{{ widget.label }}</nz-form-label>
                    <nz-input-number
                        [(ngModel)]="selectedNode.origin[widget.name]"
                        class="max-width"
                        name="{{ widget.name }}"
                    >
                    </nz-input-number>
                </nz-form-item>
                <nz-form-item *ngIf="isDropdown(widget)">
                    <nz-form-label>{{ widget.label }}</nz-form-label>
                    <nz-select [(ngModel)]="selectedNode.origin[widget.name]">
                        <nz-option
                            *ngIf="widget.isOptional"
                            nzLabel="----"
                            nzValue=""
                        ></nz-option>
                        <nz-option
                            *ngFor="let o of getEnumValues(widget.values)"
                            [nzLabel]="widget.values[o]"
                            [nzValue]="o"
                        >
                        </nz-option>
                    </nz-select>
                </nz-form-item>
                <nz-form-item *ngIf="isCheckbox(widget)">
                    <label
                        [(ngModel)]="selectedNode.origin[widget.name]"
                        class="max-width"
                        nz-checkbox
                    >
                        {{ widget.label }}
                    </label>
                </nz-form-item>
                <nz-form-item *ngIf="isStylebox(widget)">
                    <nz-form-label>{{ widget.label }}</nz-form-label>
                    <nz-select
                        [(ngModel)]="selectedNode.origin[widget.name]"
                        class="max-width"
                    >
                        <nz-option
                            *ngIf="widget.isOptional"
                            nzLabel="----"
                            nzValue=""
                        ></nz-option>
                        <nz-option
                            *ngFor="let o of styleListItemTuple | async"
                            [nzLabel]="o.name"
                            [nzValue]="o.key"
                        >
                        </nz-option>
                    </nz-select>
                </nz-form-item>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- Create a New Child Node Modal -->
<ng-container *ngIf="createNewChild">
    <nz-modal
        (nzOnCancel)="handleCancelCreateNewChild()"
        (nzOnOk)="handleOkCreateNewChild()"
        [(nzVisible)]="createNewChild"
        nzTitle="Create Child Widget"
    >
        <nz-select
            [(ngModel)]="selectedChildNode"
            nzAllowClear
            nzPlaceHolder="Select widget type"
            nzShowSearch
        >
            <nz-option
                *ngFor="let w of tupleModel.widgets | keyvalue"
                [nzLabel]="w.value.label"
                [nzValue]="w.key"
            ></nz-option>
        </nz-select>
    </nz-modal>
</ng-container>
