@import "../../styles/core-screen.styles.scss";

.admin-screen-col {
    min-height: 700px;
    max-height: 700px;
    overflow: auto;
    border: 2px black solid;
    padding: 15px;
    margin: 0px;
}

nz-select {
    width: 100%;
}
