<h1 class="text-center">Dynamic Screen Configuration</h1>
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!-- Home Tab -->
        <li class="active" role="presentation">
            <a aria-controls="home" data-toggle="tab" href="#home" role="tab">
                Home
            </a>
        </li>
        <!-- Edit Settings Tab -->
        <li role="presentation">
            <a
                aria-controls="editScreen"
                data-toggle="tab"
                href="#editScreen"
                role="tab"
            >
                Detail Screens
            </a>
        </li>
        <!-- Edit String Int Tab -->
        <li role="presentation">
            <a
                aria-controls="editScreen"
                data-toggle="tab"
                href="#editStyle"
                role="tab"
            >
                Styling
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home Tab -->
        <div class="tab-pane active" id="home" role="tabpanel">
            <p></p>
            <p>
                Peek Core Screen Plugin is used to configure screen for the
                peek-field and the peek-office
            </p>
            <p>
                Organise the containers and widgets, apply styles and customise
                it
            </p>
        </div>
        <!-- Edit Screen Tab -->
        <div class="tab-pane" id="editScreen" role="tabpanel">
            <admin-screen></admin-screen>
        </div>
        <!-- Edit Style Tab -->
        <div class="tab-pane" id="editStyle" role="tabpanel">
            <admin-style></admin-style>
        </div>
    </div>
</div>
